*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: normal 62.5% "Lora-Bold", sans-serif;
    color: #eeeeea;
}

body {
    background-color: #050c13;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
    /* color: #111d4a; */
}

p {
    font-size: 2rem;
}

/*------------------------------------------*/

header {
    position: relative;
    background-color: #111d4a;
    text-align: center;
    padding: 50px 0 50px 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-socialmedia {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeea;
    border-radius: 5px;
}

.socialmedia-button {
    width: 3rem;
}

a.socialmedia-link {
    margin: 1rem;
}

a.socialmedia-link:hover .socialmedia-button {
    transform: rotate(30deg);
    background-color: #050c13;
    transition: 0.3s;
}

/*---------- MyProjects ----------*/

section.myProjects {
    background: #050c13;
    height: 80%;
    padding: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fin MyProjects */

/* Cartes qui tournent */
.flip-box {
    width: 40rem;
    height: 22.5rem;
    border: 2px solid #f80040;
    perspective: 500px;
    margin: 5rem;
    box-shadow: 0px 0px 40px 0px #f80040;
    border-radius: 8px;
    background: #eeeeea;
}

.box-project {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 8px;
}

.flip-box-front {
    background-color: #eeeeea;
    color: #111d4a;
}

.flip-box-front > h3 {
    text-align: start;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.flip-box-back {
    background-color: #f80040;
    color: #eeeeea;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3rem;
    padding: 2rem;
}

.flip-box-front, .flip-box-back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.flip-box:hover .box-project {
    transform: rotateY(180deg);
}
/*Fin cartes qui tournent*/

.project-name {
    margin: 1rem;
}

.logoDashLegends {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    animation-name: anim-DashLegends;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 3s;
}

@keyframes anim-DashLegends{
    0% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(-50%, -42%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    75% {
        transform: translate(-50%, -58%);
    }
}

.logoDashLegendsOmbre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    width: 50%;
}

.cavavin .flip-box-front {
    background-image: url('../img/vinBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #eeeeea;
}
